[submodule "external/commotion-linux-py"]
	path = external/commotion-linux-py
	url = https://github.com/vitriolix/commotion-linux-py.git
	branch = master
[submodule "external/commotion-mesh-applet"]
	path = external/commotion-mesh-applet
	url = https://github.com/vitriolix/commotion-mesh-applet.git
	branch = decompose
[submodule "PyWiWi"]
	path = external/PyWiWi
	url = https://github.com/jnelson/PyWiWi.git
